/* вторичный цвет текста #212121 */
/* основной цвет текста #757575 */
/* основной цвет фона #FFFFFF */
/* цвет фона футера/героя #2F303A; */
/* цвет текста героя #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* текст футера rgba(255, 255, 255, 0.6); */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}
.page {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
figure {
  margin: 0;
}
button {
  padding: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* шапка */
.page-header {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.logo-link {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link-current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.auth-nav .icon {
  cursor: pointer;
  width: 16px;
  height: 12px;
}
.auth-nav .icon:hover,
.auth-nav .icon:focus {
  fill: var(--accent-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  text-align: center;
  background-color: var(--footer-background-color);

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* button */
.button-main {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;
}
.title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-title {
  display: none;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* features */
.feature-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  text-transform: uppercase;
}
.feature .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}
.feature {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
}
.feature .item {
  width: 270px;
}
.feature .item + .item {
  margin-left: 30px;
}
.feature-icon {
  margin: 25px 102.34px;
  width: 65.32px;
  height: 70px;
}
.feature-thumb {
  display: inline-block;
  margin-bottom: 30px;
  width: 270px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}
/* specification */
.specification .list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}
.specification .item + .item {
  margin-left: 30px;
}
/* our team */
.team {
  background-color: var(--secondary-background-color);
}
.team-list .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 10px;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 0;
  margin-bottom: 30px;
}

.team-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.team-list .item {
  width: 270px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-thumb {
  display: inline-block;
  width: 206px;
}
.team-icon {
  width: 20px;
  height: 20px;
}
.team .item + .item {
  margin-left: 30px;
}

.picture {
  display: block;
}
/* clients */
.clients {
  display: flex;
}
.clients-thumb {
  display: inline-block;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-thumb:hover,
.clients-thumb:focus {
  fill: var(--accent-color);
}

.clients-icon {
  margin: 16px 32px;
  width: 106px;
  height: 60px;
}

.clients .item + .item {
  margin-left: 30px;
}
/* portfolio */
.portfolio h1 {
  display: none;
}

.work {
  display: flex;
  justify-content: center;
}

.work .item + .item {
  margin-left: 8px;
  margin-top: 0;
  margin-bottom: 50px;
}
.button-type {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}
.button-type:hover,
.button-type:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* work-list */
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.work-list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-list .item:nth-child(3n) {
  margin-right: 0;
}
.work-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-list .title {
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 24px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
}

.work-list .text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 24px;

  font-size: 16px;
  line-height: 1.88;
}
.box {
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
/* footer */
.footer-site {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-site .logo-link {
  color: var(--white-color);
}

.nav {
  margin-top: 20px;

  color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.nav .link {
  color: var(--footer-text-color);
  text-decoration: none;
}
.nav .item {
  margin-top: 0;
  margin-bottom: 9px;
}
.nav .item:last-child {
  margin-bottom: 0;
}
